.server {
	padding: 1.5rem;
	display: flex;
}

.server--unknown {
	opacity: 0.3;
}

.server-logo {
	margin-right: 1.5rem;
	height: 5rem;
	width: 5rem;
}

.server-logo img {
	height: 100%;
	object-fit: contain;
}

.server-info__name {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 1rem;
	font-family: 'Montserrat', sans-serif;
}

.server-info__location .location__label {
	font-weight: 300;
	font-size: 0.875rem;
	margin-bottom: 0.5rem;
}

.server-info__location .location__name {
	font-size: 1rem;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
