.test-from__form-container {
	display: block;
}

.test-form__form-fields {
	display: flex;
	align-items: center;
	border-radius: 4rem;
	background-color: #fff;
}

.test-form__input {
	background-color: transparent;
	border: none;
	outline: none;
	margin: 0;
	font-size: 1.125rem;
	flex: 1;
	padding: 0 2rem;
	border-radius: 3rem;
}

.test-form__input::placeholder {
	color: #a3a3a3;
}

.test-form__button {
	border-radius: 3.375rem;
	border: 0;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 1rem;
	font-weight: 600;
	margin: 0.5rem;
	outline: none;
	padding: 0.7813rem 1.5rem 0.7813rem 1.5rem;
	text-align: center;
	text-transform: uppercase;
}

.test-form__button--blue {
	color: #fff;
	background: #24a7ca;
}

.test-form__button:disabled {
	background-color: rgba(37, 166, 202, 0.5);
	cursor: auto;
}

.test-form__button [data-icon] {
	margin-right: 0.5rem;
}
