.test-cards {
	display: flex;
	flex-flow: column nowrap;
	background-color: white;
	margin: 1rem 0.5rem;
	box-shadow: 0 0.125rem 0.25rem rgba(13, 55, 70, 0.05),
		0 0.125rem 1.25rem rgba(13, 55, 70, 0.1);
	border-radius: 0.25rem;
	flex: 1;
}

.test-cards__gtmetrix {
	padding: 1.5rem;
	border-top: 0.0625rem solid rgba(67, 75, 81, 0.2);
}

.test-cards__gtmetrix-link {
	border-top: 0.0625rem solid rgba(67, 75, 81, 0.2);
	padding: 1rem;
}

.test-cards__results {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 1rem 0;
}
