.tooltip {
	position: relative;
	display: block;
}

.tooltip__wrapper {
	position: absolute;
	top: calc(100% + 0.5rem);
	left: -1rem;
	display: none;
	width: 18.75rem;
	z-index: 100;
}

.tooltip:hover .tooltip__wrapper {
	display: block;
}

.tooltip__container {
	box-shadow: 0 0.125rem 0.25rem rgba(13, 55, 70, 0.05),
		0 0.125rem 1.25rem rgba(13, 55, 70, 0.1);
	background-color: #fff;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	line-height: 1.8;
	padding: 1rem;
	color: #434b51;
	display: block;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.tooltip__label {
	font-weight: 600;
}

.tooltip__content {
	font-weight: 400;
}

.tooltip .tooltip__container:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;

	border-bottom: 8px solid white;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	left: 1rem;

	top: -7px;
}

.tooltip .tooltip__text:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;

	border-bottom: 8px solid white;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	left: 1rem;

	top: -7px;
}
