.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 3rem;
}

.form {
  max-width: 1024px;
  width: 100%;
  margin: 0 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.input-url {
  background-color: white;
  border-radius: 3rem;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-shadow: 0px 2px 11px -5px #b9b9b9;
  margin-bottom: 2rem;
}

.input-url > .input {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  font-size: 1.125rem;
  flex: 1;
  padding: 0 2rem;
  border-radius: 3rem;
}

.input-url > .input::placeholder {
  color: #a3a3a3;
}

.input-url > .run-test {
  margin: .5rem;
  outline: none;
  border: 0;
  background-color: #25A6CA;
  border-radius: 100px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 2rem;
}

.run-test .material-icons {
  margin-right: .5rem;
  color: white;
  font-size: inherit;
}

.logs {
  margin-top: 2rem;
}

.logs > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logs .logs-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.logs .log-entry {
  padding: .25rem 0;
  padding-left: 1.5rem;
  font-weight: 200;
  position: relative;
}

.log-entry::before {
  content: '';
  display: inline-block;
  width: .75rem;
  height: 2px;
  background: #b9b9b9;
  vertical-align: center;
  position: absolute;
  top: 50%;
  left: 0;
}

.page-timings-container {
  display: flex;
  width: 100%;
}