.setup-successful {
	font-size: 1.125rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 1.5rem;
	margin-bottom: 2rem;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.setup-successful [data-icon] {
	margin-left: 0.5rem;
}

.setup-successful .divider {
	height: 1rem;
	width: 0.0625rem;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0 1rem;
}

.setup-successful__attempt {
	display: flex;
	align-items: center;
}

.setup-successful__helper-icon {
	color: #25a6ca;
}

.setup-successful__check-icon {
	color: #75bb00;
}
